{% extends 'base.html'%}
{% block content %}
  <div class="about-text">
    <h2 class='interval-15'>АF<sup>2</sup> - это группа молодых
      специалистов в
      различных областях строительства. <br>
      Каждый в нашей команде являтся профессионалом в своей  области
      благодаря упорной работе, терпению и конечно же любви к своему делу!
    </h2>
    <br>
    <!-- Facts about us =============================================== -->
    <span class="paragraph glyphicon glyphicon-tree-deciduous"
          aria-hidden="true"><i class="paragraph fi-home size-24"></i></span>
    <br>
    <br>
    <div class="row">
      <div class="col-md-12">
        <h2>Факты o нас:</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <i class="icons fi-foundation size-60"></i>
        <p class='lead'>Более 15 реализованных объектов индивидуального и
          общественного назначения у каждого специалиста.</p>
      </div>
      <div class="col-md-6">
        <i class="icons fi-like size-60"></i>
        <p class='lead'>Столько же довольных проделанной работой заказчиков.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
       <i class="icons fi-burst size-60"></i>
       <p class='lead'>У нас есть дипломы и сертификаты,
          подтверждающие наши возможности.</p>
      </div>
      <div class="col-md-6">
        <i class="icons fi-torsos-all size-60"></i>
        <p class='lead'>26 лет - средний возраст нашей команды,
          и мы знаем многое о современном рынке строительства,
          архитектуры и дизайна.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <i class="icons fi-clock size-60"></i>
        <p class='lead'>Мы ценим Ваше время, поэтому все заказы
          выполнятся в рамках графиков, согласованных с Вами и следуемых
          Нами.</p>
      </div>
    </div>
    <!-- /.facts-about-us =============================================== -->

    <!-- Our rules ====================================================== -->
  <span class="paragraph glyphicon glyphicon-tree-conifer"
        aria-hidden="true"><i class="paragraph fi-home size-24"></i></span>
  <br>
  <br>
  <div class="row">
    <div class="col-md-7">
      <h2>Наши правила:</h2>
    </div>
  </div>
  <div class="row capabilities">
    <div class="btn btn-default">Доступные цены</div>
    <div class="btn btn-default">Индивидуальный подход</div>
  </div>
  <div class="row capabilities">
    <div class="btn btn-default">Бесплатная оценка стоимости проекта</div>
  </div>
  </div>
{% endblock %}