{% extends 'base.html'%}
{% block content %}
    <div class="about-text">
      <h2 class='interval-15'>
        Представленные ниже проекты - далеко не все наши возможности.<br>
        Они лишь позволяют вам поближе познакомится с нами.<br>
        Потому что мы заинтересованы в таких клиентах как Вы.
      </h2>
      <br>

      <!-- Scope ======================================================= -->
      <span class="paragraph glyphicon glyphicon-tree-deciduous"
            aria-hidden="true"><i class="paragraph fi-home size-24"></i></span>
      <br>
      <br>

      <!--Wood constructions -->
      <div class="row">
        <div class="col-md-6">
          <img style="width:432px; height:330px;"
               src="static/images/kdd/kdd_1.jpg">
        </div>
        <div class="col-md-6">
          <h2 class="bg-warning img-thumbnail">КАРКАСНЫЕ ДЕРЕВЯННЫE ДОМА</h2>
          <br>
          <img style="width:432px; height:236px; padding-top: 15px"
               src="static/images/kdd/kdd_2.jpg">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <img style="width:278px; height:278px;"
               src="static/images/kdd/kdd_4.jpg">
        </div>
        <div class="col-md-4">
          <img style="width:278px; height:278px;"
               src="static/images/kdd/kdd_5.jpg">
        </div>
        <div class="col-md-4">
          <img style="width:278px; height:278px;"
               src="static/images/kdd/kdd_6.jpg">
        </div>
      </div>
      <br>
      <i class="paragraph fi-home size-24"></i>
      <br>

      <!--Little arch forms -->
      <div class="row">
        <div class="col-md-5">
          <img style="width:355px; height:278px;"
               src="static/images/marh/marh_1.jpg">
        </div>
        <div class="col-md-5">
          <img style="width:355px; height:278px;"
               src="static/images/marh/marh_2.jpg">
        </div>
        <div class="col-md-2">
            <h2 style="width:201px; height:278px;" class="bg-warning
                img-thumbnail">МАЛЫЕ АРХИ<br>ТЕКТУР<br>НЫЕ<br> ФОРМЫ</h2>

        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <img style="width:278px; height:278px;"
               src="static/images/marh/marh_3.jpg">
        </div>
        <div class="col-md-4">
          <img style="width:278px; height:278px;"
               src="static/images/marh/marh_4.jpg">
        </div>
        <div class="col-md-4">
          <img style="width:278px; height:278px;"
               src="static/images/marh/marh_5.jpg">
        </div>
      </div>
      <br>
      <i class="paragraph fi-home size-24"></i>
      <br>

      <!--Arch forms -->
      <div class="row">
        <div class="col-md-6">
          <img style="width:432px; height:330px;"
               src="static/images/arh/arh_1.jpg">
        </div>
        <div class="col-md-6">
          <img style="width:432px; height:245px;"
               src="static/images/arh/arh_3.jpg">
        </div>
        <div class="col-md-6">
          <br>
          <h2 style="width:432px; height:55px;"
              class="bg-warning img-thumbnail">АРХИТЕКТУРНЫЕ ФОРМЫ</h2>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4">
          <img style="width:278px; height:278px;"
          src="static/images/arh/arh_2.jpg">
        </div>
        <div class="col-md-4">
          <img style="width:278px; height:278px;"
               src="static/images/arh/arh_3.jpg">
        </div>
        <div class="col-md-4">
          <img style="width:278px; height:278px;"
               src="static/images/arh/arh_4.jpg">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <img style="width:432px; height:330px;"
               src="static/images/arh/arh_5.jpg">
        </div>
        <div class="col-md-6">
          <img style="width:432px; height:330px;"
               src="static/images/arh/arh_6.jpg">
        </div>
      </div>
      <br>
      <i class="paragraph fi-home size-24"></i>
      <br>
    </div>

{% endblock %}